#overlay
  #progstat
  #progress

.text-center
  = image_tag 'strava_logo_white.png', id: 'logo-logo'
  = image_tag 'strava_symbol_orange.png', id: 'logo-icon'
  %h1
    .title= @quote

.grid
  .grid-sizer
  - @photos.flatten.each_with_index do |p, i|
    - if i % 4 == 0
      .grid-item.grid-item--width2
        .photo
          %img{src: p[:src], :onerror => "this.style.display='none'"}
            %a{href: p[:src], download: p[:caption].gsub!(/[^0-9A-Za-z]/, ''), class: "download-button" }= image_tag 'download.png'
          .caption=  p[:caption]
        

    - else 
      .grid-item
        .photo
          %img{src: p[:src], :onerror => "this.style.display='none'"}
            %a{href: p[:src], download: p[:caption].gsub!(/[^0-9A-Za-z]/, ''), class: "download-button" }= image_tag 'download.png'
          .caption=  p[:caption]
  
  .grid-item
  .grid-item.grid-item--width2

/ .hidden
/   %audio{:autoplay => "", :controls => ""}
/     %source{:src => "metal.mp3", :type => "audio/mpeg"}



/ #profile-picture
/   = image_tag @ca['profile_medium']