#overlay
  #progstat
  #progress

.text-center
  = image_tag 'strava_logo_white.png', id: 'logo-logo'
  = image_tag 'strava_symbol_orange.png', id: 'logo-icon'
  %h1
    .title= @quote

.grid
  .grid-sizer
  - animals = [asset_path('aw1.jpg'), asset_path('aw2.jpg'), asset_path('aw3.jpg'), asset_path('aw4.jpg'), asset_path('aw5.jpg'),asset_path('aw6.jpg'),asset_path('aw7.jpg'),asset_path('aw8.jpg'),asset_path('aw9.jpg'),asset_path('aw10.jpg')]
  - @photos.flatten.each_with_index do |p, i|
    - animal = animals.sample
    - if i % 4 == 0
      .grid-item.grid-item--width2
        .photo
          %img{src: p[:src], :onerror => "this.onerror=null;this.src='#{animal}';"}
          .caption=  p[:caption]
        

    - else 
      .grid-item
        .photo
          %img{src: p[:src], :onerror => "this.onerror=null;this.src='#{animal}';"}
          .caption=  p[:caption]
  
  .grid-item
  .grid-item.grid-item--width2

/ .hidden
/   %audio{:autoplay => "", :controls => ""}
/     %source{:src => "metal.mp3", :type => "audio/mpeg"}



/ #profile-picture
/   = image_tag @ca['profile_medium']

