!!!
%html
  %head
    %title Strava Collage
    = favicon_link_tag 'strava.ico'
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %script{:src => "https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.1/masonry.pkgd.min.js"}
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto", :rel => "stylesheet"}/

    :javascript
      window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
      
        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };
      
        return t;
      }(document, "script", "twitter-wjs"));


  %body#target{class: "#{action_name == 'collage' ? 'collage-body' : ''}"}
    = yield
    

