!!!
%html
  %head
    %title Strava Collage
    = favicon_link_tag 'strava.ico'
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %script{:src => "https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.1/masonry.pkgd.min.js"}



  %body
    = yield
    
